.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.main_container{
    display: flex;
    width: 1300px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 50px;
    align-items: center;
    transform: translateY(-100px);
}

.headline{
    font-size: 3em;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #000;
    padding-right: 100px;
}
.subline{
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 1.4em;
    color: #a0a0a0;
}
.full_logo{
    display: block;
}
.full_logo img{
    width: 400px;
    height: 400px;
    transform: translateY(20px);
    pointer-events: none;
}
.lock{
    width: 400px;
    height: 400px;
    position: absolute;
}

.button{
    width: 180px;
    height: 50px;
    background: #000;
    display: flex;
    border: 4px solid black;
    border-radius: 18px;
    margin-top: 40px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: translateY(20px);
    transition: 0.25s ease-in-out;
}

.button_text{
    color: #fff;
    transform: translateY(-2px);
    font-family: 'Nunito', sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
}

.button:hover{
    background: #F2F2F2;
}
.button:hover .button_text{
    color: #000;
}
.button:active{
    transform: scale(0.9) translateY(25px);
}

@media (max-width: 767px){
    .main_container{
        flex-direction: column;
        flex-flow: column wrap;
        margin-top: 0px;
        justify-content: space-between;
        
    }
    .label{
        order: 2;
        margin-top: 50px;
    }
    .full_logo{
        order: 1;
        padding: 0 10px;
    }
    .full_logo img {
        width: fit-content;
        height: 40vh;
    }
    .lock{
        width: fit-content;
    }
    .headline{
        font-size: 2.2em;
        padding: 0;
    }
    .main_container{
        padding: 0 10px;
    }
    .button{
        margin: 0 auto;
        margin-top: 20px;
    }
}